.FormList {
    margin-left: -25px;
    padding: 24px;
}

.FormList label {
    margin-top: 15px;
}

.ActionsButton Button:hover,
.FormList Button:hover,
.Actions Button:hover {
    background-color: #8800ff;
}

.FormList Button {
    margin-top: 15px;
    height: 30px;
    width: 200px;
    font-family: 'Homenaje', sans-serif !important;
}

.rgbHeader {
  background: linear-gradient(to right, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
  #0000ff, #00ff00,#ffff00, #ff0000, #ff0000, #ffff00, #00ff00, #0000ff, #fb0094,
   #ff0000, #ffff00, #0000ff, #fb0094);
  background-size: 2000% auto;
  
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 100s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

header {
    margin-left: 35%;
    font-size: 45px;
}

.FormList input {
    border-radius: 15px;
    padding: 8px;
    background-color: rgba(111, 111, 111, 0.200);
    font-family: 'Homenaje', sans-serif;
    color: rgba(255, 255, 255, 0.55);
}

form#form {
    display: flex;
    flex-direction: column;
}

#root {
    font-family: 'Homenaje', sans-serif;
    background-color: rgb(29, 26, 34);
    border-radius: 32px;
    padding: 24px;
    justify-content: center;
    box-sizing: content-box;
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    min-height: 5px;
    background: linear-gradient(0deg, #1D1A22, #1D1A22);
}

.block{
	position: relative;
	margin: 300px auto 0;
	background: linear-gradient(0deg, #000, #272727);
}

.block:before,
.block:after {
    border-radius: 32px;
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000, #ff0000, #ffff00, #00ff00, #0000ff, #fb0094,
         #ff0000, #ffff00, #0000ff, #fb0094);
	background-size: 4000%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 100s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
        opacity: 1;
	}
	100% {
		background-position: 0 0;
	}
}

.block:after {
	filter: blur(50px);
}

.html {
    font-family: 'Homenaje', sans-serif;
    background-color: #242424;
    
}

.Table {
    margin: 0 auto;
    padding: 24px;
    height: 150px;
    display: contents;
    color: rgba(255, 255, 255, 0.55);
}


.Actions {
    margin-top: 4px;
    width:  100%;
    justify-content: space-between;
    display: flex;
}

.ActionsButton{
    display: flex;
    justify-content: flex-end;
    max-width: 180px;
}

td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeSmall.css-dsuxgy-MuiTableCell-root {
    max-width: 95px;
    font-family: 'Homenaje', sans-serif;
    color: rgba(255, 255, 255, 0.55);
}

td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeSmall.css-dsuxgy-MuiTableCell-root input {
    font-family: 'Homenaje', sans-serif;
    background-color: #2D2B31;
    color: rgba(255, 255, 255, 0.55);
    border-radius: 5px;
    max-width: 80px;
    font-size: 15px;
}

.css-130xbax-MuiTable-root {
    display: table;
    width: 100%;
    height: 85px;
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 500px;
}

td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeSmall.css-dsuxgy-MuiTableCell-root input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

root.css-1q1u3t4-MuiTableRow-root button.MuiButton-root.MuiButton-contained.MuiButton-containedError.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonBase-root.css-1sszw6i-MuiButtonBase-root-MuiButton-root {
    margin-left: 4px;
}

tr.MuiTableRow-root.css-1q1u3t4-MuiTableRow-root button {
    margin-top: 6px;
    margin-left: 25px;
    max-width: 15px;
    font-size: 14px;
    font-family: 'Homenaje', sans-serif;
}