.App {
    /* margin-top: 30px; */
    margin-left: 35%;
    padding: 24px;
}
#root {
    background-color: rgb(181, 248, 255);
    border-radius: 16px;
    padding: 24px;
    justify-content: center;
    box-sizing: content-box;
    margin-left: 15%;
    margin-right: 15%;
}
.Table {
    margin: 0 auto;
    padding: 24px;
}

.App Button{
    margin-top: 10px;
    height: 30px;
    width: 184px;
}